<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pers.life.helper">
    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <activity android:name=".view.smart.car.CarMainActivity"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8fd357a912a4dce5588074b0a14ad29f" /> <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pers.life.helper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.phone.QueryPhoneActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.ip.QueryIPActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.postcode.PostcodeActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.card.QueryCardActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.weather.WeatherActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.joke.JokeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.recipe.RecipeDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.recipe.RecipeListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.login.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.image.PreviewImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.regist.RegistActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.courier.ChooseCouerierActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.courier.CouerierActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.dukeofzhou.ZhouGongActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.smart.text.TextMainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.smart.text.IDCardActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.smart.SmartActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/CropperAppTheme" />
        <activity
            android:name=".view.smart.plant.PlantMainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.smart.animal.AnimalMainActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>